<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.edersonfernandes.garconapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Garçonete Só de Cenoura</name>
    <description>
        App para uso das garçonetes dentro do restaurante.
    </description>
    <author email="edersonluis.rf@gmail.com" href="http://www.edersonfernandes.com.br">
        Éderson Fernandes
    </author>
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <platform name="android">
        <preference name="BackgroundColor" value="0xF2F2F2FF" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <preference name="DisallowOverscroll" value="true" />
    </platform>
    <content src="index.html" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreenDelay" value="3000" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <platform name="android">
        <preference name="StatusBarBackgroundColor" value="#E86C13" />
    </platform>
    <platform name="ios">
        <preference name="StatusBarOverlayWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#F57F17" />
    </platform>
    <plugin name="phonegap-plugin-barcodescanner" spec="^7.1.2">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.0.0" />
</widget>
